# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
*.tsbuildinfo

# Environment variables
.env
.env*.local

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Turbo
.turbo
.nx

# Better-T-Stack
.alchemy

# Testing
coverage
.nyc_output

# Misc
*.tgz
.cache
tmp
temp

# Local database
/local.db
.codex
立创·实战派ESP32-S3开发板资料/01-例程/立创实战派ESP32-S3-例程-IDF5.1.zip
立创·实战派ESP32-S3开发板资料/01-例程/立创实战派ESP32-S3-例程-IDF5.4.zip
立创·实战派ESP32-S3开发板资料/02-文档/01-外壳3D打印文件.zip
立创·实战派ESP32-S3开发板资料/02-文档/02-芯片手册.zip
立创·实战派ESP32-S3开发板资料/02-文档/立创实战派ESP32-S3开发板原理图.pdf
立创·实战派ESP32-S3开发板资料/03-视频/第01集-实战派ESP32S3开发板介绍.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第02集-搭建ESP32开发环境.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第03集-ESP32程序开发流程.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第04集-按键驱动程序.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第05集-姿态传感器qmi8658驱动程序.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第06集-TF卡的使用.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第07集-麦克风的使用.mp4
立创·实战派ESP32-S3开发板资料/03-视频/第08集-播放音频.mp4
立创·实战派ESP32-S3开发板资料/04-3D外壳文件/外壳3D打印文件.zip
立创·实战派ESP32-S3开发板资料/05-出厂测试固件/开发板安装测试文档-掌机固件.pdf
立创·实战派ESP32-S3开发板资料/05-出厂测试固件/szpi-s3-all-gyro-mic-cam-wifi.bin
立创·实战派ESP32-S3开发板资料/小智AI固件/v1.4.6_lichuang-dev.zip
立创·实战派ESP32-S3开发板资料/烧录工具/flash_download_tool_3.9.7.zip
